/* ESTÉTICA */


/* Reglas para aplicar con JS */
.oculto {
  visibility: hidden;
}
.error {
  border: 1px solid red;
}
.eliminar {
  display: none;
}
.btnSeleccionado {
  background-color: #82af6e;
}
.btnDeseleccionado {
  background-color: #b5e7a0;
}
.deshabilitar {
  opacity: 0.5;
  pointer-events: none;
}


/* Estética de la web */
body {
  background-color: #f7e6d8;
  font-family: Arial, sans-serif;
  color: #3b3b3b;
}

.form-container {
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size: 36px;
  color: #3b3b3b;
}

label {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

input,
textarea, 
select {
  border: none;
  border-radius: 5px;
  background-color: #f7e6d8;
  color: #3b3b3b;
  font-size: 16px;
  resize: none;
  transition: all 0.3s ease;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.topButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: none;
  /*background-color: #b5e7a0;*/
  /*color: #fff;*/
  font-size: 1.2rem;
  /*cursor: pointer;*/
  transition: transform 0.3s ease-in-out;
}


.inputError {
    color: darkred;
    font-size: small;
    font-weight: bold;
}



button[type="button"], button[type="submit"], input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #b5e7a0;
  color: #3b3b3b;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="button"]:hover, button[type="submit"]:hover, input[type="submit"]:hover {
    background-color: #91c36c;
}

/* Domicilio */

#domicilio select {
  user-select: none;
}


