body {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: 20% 10% 60% 10%;
    min-height: 100vh;
}


header {
    grid-area: header;
    min-height: 20%;
    background-color: #3498db;
}
nav {
    grid-area: nav;
    min-height: 10%;
    background-color: #8e2cc7;
}
main {
    grid-area: main;
    min-height: 60%;
    background-color: #2ecc71;

    display: flex;
    flex-wrap: wrap;
}
footer {
    grid-area: footer;
    min-height: 10%;
    background-color: #e74c3c;
}

/* ========================================= */
/* ============== FORM ===================== */
/* ========================================= */
form {
    display: grid;
    grid-template-areas:
        "lbloption1 empty lblstatement"
        "inputlbloption1 empty inputstatement"
        "lbloption2 empty lbloption3"
        "inputlbloption2 empty lbloption3";
    grid-template-columns: 1fr 0fr 1fr;
    grid-template-rows: repeat(4, 2em);
}


form>label[name='option1'] { grid-area: lbloption1; }
form>input[name='option1'] { grid-area: inputoption1; }

form>label[name='option2'] { grid-area: lbloption2; }
form>input[name='option2'] { grid-area: inputoption2; }

form>label[name='option3'] { grid-area: lbloption3; }
form>input[name='option3'] { grid-area: inputoption3; }

form>label[name='statement'] { grid-area: lblstatement; }
form>input[name='statement'] { grid-area: inputstatement; }

form>label[name='difficulty'] { grid-area: lbldifficulty; }
form>select[name='difficulty'] { grid-area: slctdifficulty; }

form>label[name='category'] { grid-area: lblcategory; }
form>select[name='category'] { grid-area: slctcategory; }