/* =========================================================== */
/* ====================== STRUCTURE ========================== */
/* =========================================================== */
    /* ========================================= */
    /* ============== FORM ===================== */
    /* ========================================= */
form[name="crud_questions"] {
    display: grid;
    grid-template-columns: 1fr 0.2fr 0.2fr 0.3fr repeat(4, 0.2fr);
    grid-template-rows: 1.4em 2em repeat(2, 1.4em) 2em repeat(2, 1.4em) 2em repeat(3, 1.4em);
    margin: auto;
}


/* ========================================================================================= */
/* ============================= PARTE IZQUIERDA =========================================== */
/* ========================================================================================= */
form>label[for='option1']                   { grid-row: 1/2; grid-column: 1/2; }
form>input[name='option1']                  { grid-row: 2/3; grid-column: 1/2; }
form>input[type="radio"][value="option1"]   { grid-row: 2/3; grid-column: 2/3; }

form>label[for='option2']                   { grid-row: 4/5; grid-column: 1/2; }
form>input[name='option2']                  { grid-row: 5/6; grid-column: 1/2; }
form>input[type="radio"][value="option2"]   { grid-row: 5/6; grid-column: 2/3; }

form>label[for='option3']                   { grid-row: 7/8; grid-column: 1/2; }
form>input[name='option3']                  { grid-row: 8/9; grid-column: 1/2; }
form>input[type="radio"][value="option3"]   { grid-row: 8/9; grid-column: 2/3; }


/* ========================================================================================= */
/* =============================== PARTE DERECHA =========================================== */
/* ========================================================================================= */
form>label[for='statement']     { grid-row: 1/2; grid-column: 4/9; }
form>input[name='statement']    { grid-row: 2/3; grid-column: 4/9; }

form>label[for='difficulty']    { grid-row: 4/5; grid-column: 4/9; }
form>select[name='difficulty']  { grid-row: 4/5; grid-column: 6/8; }

form>label[for='category']      { grid-row: 6/7; grid-column: 4/9; }
form>select[name='category']    { grid-row: 6/7; grid-column: 6/8; }


/* ========================================================================================= */
/* ====================================== SOURCE =========================================== */
/* ========================================================================================= */
form>label[for='source']    { grid-row: 8/9; grid-column: 4/6; }
form>input[type='file']     { grid-row: 8/9; grid-column: 6/9; }

form>label[for='typesource']                { grid-row: 9/10; grid-column: 4/5; }
form>label[for='photo']                     { grid-row: 9/10; grid-column: 5/6; text-align: right; }
form>input[type="radio"][value="photo"]     { grid-row: 9/10; grid-column: 6/7; }
form>label[for='video']                     { grid-row: 9/10; grid-column: 7/8; text-align: right; }
form>input[type="radio"][value="video"]     { grid-row: 9/10; grid-column: 8/9; }


/* ========================================================================================= */
/* ===================================== BOTONES =========================================== */
/* ========================================================================================= */
form>input[type="submit"]   { grid-row: 11/12; grid-column: 6/7; }
form>input[type="reset"]    { grid-row: 11/12; grid-column: 8/9; }


div[name="crud_questions"] {
    width: 40%;
    margin: auto;
    margin-top: 2em;
    padding: 6em;

    border: 4px darkred solid;
    border-radius: 60px;
    background-color: #bad6ae;
}


/* =========================================================== */
/* ======================= POSITION ========================== */
/* =========================================================== */
div[name="crud_questions"] > p {
    font-size: 2em;
    font-weight: bold;
    border: 2px solid darkred;
    border-radius: 20px;

    margin-bottom: 2em;
    text-align: center;
}

form>input[type="text"] {
    border-radius: 12px;
    border: 1px solid black;
    padding-left: 1em;
}
/* TODO no funciona 
Quiero que cuando se seleccione el input type text, se cambie el color del borde */
input[type="text"]:focus {
    border: 1px solid red;
}


form>label {
    font-size: 1em;
}

/* =========================================================== */
/* ====================== BUTTONS ============================ */
/* =========================================================== */
.styled-button {
    padding: 0.5em 1em;
    background-color: rgb(23, 133, 23);
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(8, 48, 8);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: auto;
}
.styled-button:hover {
    background-color: rgb(1, 187, 1);
}

/* =========================================================== */
/* ======================= SELECT ============================ */
/* =========================================================== */
form>select {
    width: 10em;
    /*padding: 0.8em;*/
    border: 2px solid rgb(255, 86, 25);
    border-radius: 5px;
    background-color: coral;
    color: white;
}
form>select:hover {
    border-color: #2c3e50;
}


/* Prueba poner fondo en el main | TODO falta poner la imágen borrosa*/
/*main {
    background: url(../src/autoescuela.png) center/cover fixed no-repeat;
    overflow: hidden;
    backdrop-filter: blur(3em);
}*/

