html, body {
    height: 100%;
}


header {
    min-height: 20%;
    background-color: #3498db;
}
nav {
    min-height: 10%;
    background-color: #8e2cc7;
}
main {
    min-height: 60%;
    background-color: #2ecc71;
}
footer {
    min-height: 10%;
    background-color: #e74c3c;
}


header, nav, main, footer {
    text-align: center;
}