#pending_exams {
    display: flex;
    flex-wrap: wrap;
}
.exam {
    margin-right: 4em;

    width: 200px;
    height: 200px;

    background-color: #7e9e70;
    text-decoration: none;
}

.exam:hover {
    background-color: #c4dcba;
}
