#exam {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;
}
#exam>div {
  border: 6px solid grey;
  border-radius: 10px;
  margin: 3em;
}


#left {
  width: 10%;
  height: 50vh;

  background-color: coral;
}
#middle {
  width: 70%;
  height: 50vh;

  background-color: lightblue;
  padding-left: 4em;
}


#right {
  width: 20%;
  height: 50vh;

  /*background-color: lightgreen;*/
  background-size: 20em;
  background-position: center;
  background-color: lightgreen;
  /*background-image: url(lobo.jpg);*/

  display: flex;
  /*justify-content: stretch;*/
  flex-wrap: wrap;
  align-items: center;
}
#right>div {
  width: 40px;
  height: 40px;

  font-size: 1em;
  margin: 0em 1em;
  
  background-color: white;
  border: 2px solid grey;
  border-radius: 4px;
  padding: 0.8em;

  cursor: pointer;
}
#right>div:hover {
  background-color: grey;
  border: 2px solid rgb(48, 48, 48);
}