main {
  flex-direction: column;
}

#exam_container {
  width: 95%;

  display: flex;
  justify-content: center;

  margin-bottom: 1em;

  background-color: #9dc58c;
  border: 20px solid #7e9e70;
  border-radius: 10px;
}

.question {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  height: 50vh;

  padding: 4em;

  background-color: #d8e8d1;
}
.question>div {
  border: 6px solid #7e9e70;
  border-radius: 10px;
  margin: 3em;
}


.left {
  width: 15%;
  padding: 1em;

  background-color: #b1d1a3;
}


.middle {
  width: 60%;
  height: 80%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  background-color: #9dc58c;
  padding: 0em 2em;
}
p[name="pstatement"] { /* STATEMENT */
  font-size: 1.6em;
  margin-bottom: 1em;
  font-weight: bold;
}
p[name="questions"] {
  font-size: 1.6em;
  
  display: flex;
  flex-direction: column;
}
.question > p:first-child {
  margin-bottom: 1em;
}
p[name="questions"] input {
  width: 1.6em;
  height: 1.6em;
}


.right {
  width: 25%;
  height: 80%;

  padding: 1em;

  background-size: 20em;
  background-position: center;
  background-color: #b1d1a3;
  /*background-image: url(lobo.jpg);*/

  display: flex;
  /*justify-content: stretch;*/
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.right>div {
  width: 40px;
  height: 40px;

  font-size: 1em;
  margin: 0em 0.8em;
  
  background-color: white;
  border: 2px solid grey;
  border-radius: 4px;
  padding: 0.7em;

  cursor: pointer;
}
.right>div:hover {
  background-color: grey;
  border: 2px solid rgb(48, 48, 48);
}


/* ######################################################################## */
/* ################### Buttons styles with image ########################## */
/* ######################################################################## */
#btnNext>img, #btnBefore>img {
  cursor: pointer;
  width: 90px;
  height: 90px;
}
#btn_container {
  display: flex;
  justify-content: space-between;
  text-align: center;

  width: 50%;
}
