main {
    flex-direction: column;
}
.btnContainer {
    text-align: center;
}
#exam {
    background-color: #d8e8d1;
    padding: 6em;
    margin-bottom: 2em;

    border: #7e9e70 solid 20px;
    border-radius: 1000px;
}
.statement {
    font-weight: bold;
    font-size: 1.4em;
}
.question > p:first-child {
    margin-bottom: 1em;
}


/* ######################################################################## */
/* ########################## Buttons styles ############################## */
/* ######################################################################## */
.styled_take_exam_button {
    --c:  #7e9e70; /* the color*/
    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }
  .styled_take_exam_button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  .styled_take_exam_button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }
  
  .styled_take_exam_button {
    font-family: system-ui, sans-serif;
    font-size: 2em;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;  
    border: none;
  }

/* ######################################################################## */
/* ################### Buttons styles with image ########################## */
/* ######################################################################## */
#btnSiguiente {
  background-image: url(../src/arrow_next.png);
  width: 32px;
  height: 32px;
}
#btnAnterior {
  background-image: url(../src/arrow_before.png);
  width: 32px;
  height: 32px;
}