body {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: 20% 10% 60% 10%;
    min-height: 100vh;
}


header {
    grid-area: header;
    min-height: 20%;
    background-color: #3498db;
}
nav {
    grid-area: nav;
    min-height: 10%;
    background-color: #8e2cc7;
}
main {
    grid-area: main;
    min-height: 60%;
    background-color: #2ecc71;

    display: flex;
    justify-content: space-around;
}
footer {
    grid-area: footer;
    min-height: 10%;
    background-color: #e74c3c;
}
