body {
    display: flex;
    flex-direction: column;
}


nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2em;
}
main {
    display: flex;
    justify-content: space-around;
}