main {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}
main > div {
    width: 600px;
    height: 800px;
    background-color: lightblue;
}

#container_questions {
    padding: 2em;
    background-color: lightslategrey;
}

.example_question {
    display: flex;
    flex-direction: column;

    background-color: lightgrey;
    border: 12px solid rgb(136, 136, 136);
    border-radius: 20px;
}
.example_question:hover {
    border-color: black;
    cursor: pointer;
}
.example_question .title_question, .example_question .questions {
    width: 50%;
    margin: 0.5em auto;
}
.example_question .difficulty, .example_question .category {
    width: 50%;
    text-align: left;
    color: red;
    font-weight: bold;
    margin: 0.4em auto;
}


#config_exam {
}