body {
  background-image: url("http://serverpedroexaminator/views/src/imgs/landingpage_img.jpg");
  background-position: center;
  background-size: 100em;
  backdrop-filter: blur(10px);
}

/* ######################################################################## */
/* ######################### ESTRUCTURA ################################### */
/* ######################################################################## */

form>div[name="examinatorForm"] {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto) 2.5em repeat(2, auto) 2.5em repeat(2, auto) 2.5em;
  column-gap: 1em;
}

div[name="examinatorForm"]>* {
grid-column: 1/3;
}

div[name="examinatorForm"]>label[for="name"] {
grid-row: 1/2;
}
div[name="examinatorForm"]>input[name="name"] {
grid-row: 2/3;
}

div[name="examinatorForm"]>label[for="password"] {
grid-row: 4/5;
}
div[name="examinatorForm"]>input[name="password"] {
grid-row: 5/6;
}

div[name="examinatorForm"]>label[name="feedback"] {
grid-row: 6/7;
}
div[name="examinatorForm"]>input[type="submit"] {
grid-row: 7/8;
}

/* Original */
/*div[name="examinatorForm"]>a[name="aForgotPassword"] {
grid-row: 10;
grid-column: 1/2;
text-align: center;
}*/

div[name="examinatorForm"]>a {
  grid-row: 10;
  grid-column: 1/2;
  text-align: center;
}
div[name="examinatorForm"]>a[name="aSignup"] {
  grid-row: 10;
  grid-column: 1/3;
  text-align: center;
}
div[name="examinatorForm"]>a[name="aSignUp"] {
grid-row: 10;
grid-column: 2/3;
text-align: center;
}

div[name="examinatorForm"]>a:hover {
  color: #00008f;
  color: #91c36c;
  color: #577541;
}




/* ######################################################################## */
/* ########################### COSMETIC ################################### */
/* ######################################################################## */
.form-container {
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  
  max-width: 400px;
  margin: 3em auto;
  padding: 3em;
}


h2 {
  text-align: center;
  font-size: 36px;
  color: #3b3b3b;

  margin-bottom: 1.4em;
}


label {
  display: block;
  /*font-size: 1.6em;*/
  font-weight: bold;
  
  margin-bottom: 0.4em;
}


input,
select {
  border: none;
  border-radius: 5px;
  background-color: #f7e6d8;
  color: #3b3b3b;
  font-size: 16px;
  resize: none;
  transition: all 0.3s ease;

  width: 100%;
  padding: 0.6em;
}


input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #b5e7a0;
  color: #3b3b3b;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}


/* font-family */
.form-container * {
  font-family: Agbalumo;
}

input[type="submit"]:hover {
  background-color: #91c36c;
}

input[type="submit"], label {
  font-size: 1.4em;
}

