/* Paleta: https://colorhunt.co/palette/ece3ce7390724f6f523a4d39 */
/* Nueva paleta: https://coolors.co/0dab76-139a43-0b5d1e-053b06-000000 */

/* =========================================================== */
/* ======================= COLORS ============================ */
/* =========================================================== */
header {
    background-color: #739072;
}

nav {
    /*background-color: #4F6F52;*/
    /*background-color: #3A4D39;*/
    background-color: #053B06;
}
nav>*:first-child {
    padding: 0.5em 2em 0.5em 2em;
}
nav>span:hover {
    /*background-color: #739072;*/
    background-color: #0B5D1E;
    cursor: pointer;
}
main {
    background-color: #739072;
}
footer {
    background-color: #3A4D39;
}

nav > a {
    font-size: 1.6em;
    font-weight: bold;

    margin: auto;
}


/* =========================================================== */
/* ==================== USER NAME ============================ */
/* =========================================================== */
.name {
    color: darkblue;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border: 2px solid darkblue;
}

/* =========================================================== */
/* ====================== BUTTONS ============================ */
/* =========================================================== */
.styled-button {
    padding: 0.5em 1em;
    background-color: rgb(23, 133, 23);
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(8, 48, 8);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: auto;
}
.styled-button:hover {
    background-color: rgb(1, 187, 1);
}