/* =========================================================== */
/* ======================== TABLE ============================ */
/* =========================================================== */
table {
    border-collapse: separate;
    border-spacing: 0.5em;
}
table th, table td {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

thead {
    background-color: grey;
}
thead th {
    padding: 1em;
    color: white;
}
td {
    padding: 1em;
    background-color: rgb(238, 238, 238);
    font-size: 2em;
    font-weight: bold;
}
td > button:first-child {
    margin-right: 0.5em;
}
/* =========================================================== */
/* ====================== CLASSES ============================ */
/* =========================================================== */
.table_title {
    font-size: 3em;
    font-family: Agbalumo;

    /*border: 12px solid black;*/
    border: 8px solid rgb(104, 48, 28);
    border-radius: 20px;
    /*background-color: darkred;*/
    background-color: coral;
    color: white;

    text-align: center;
    padding: 0.3em 1em;
    margin: 1.8em auto 1em;

    width: 80%;
}

/* =========================================================== */
/* ==================== FONT-SIZE ============================ */
/* =========================================================== */
* {/*td, th, select, button {*/
    font-size: 0.95em;
}
th {
    font-size: 1.2em;
}




/* =========================================================== */
/* ==================== btnAccept ============================ */
/* =========================================================== */
.btnAccept {
    padding: 0.5em 1.2em;
    background-color: green;
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(0, 97, 0);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.btnAccept:hover {
    background-color: rgb(1, 187, 1);
}



/* =========================================================== */
/* ====================== btnDeny ============================ */
/* =========================================================== */
.btnDeny {
    padding: 0.5em 1.2em;
    background-color: red;
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(170, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.btnDeny:hover {
    background-color: rgb(255, 58, 58);
}


/* =========================================================== */
/* ======================= SELECT ============================ */
/* =========================================================== */
.styled-select {
    width: 10em;
    padding: 1em;
    border: 2px solid rgb(255, 86, 25);
    border-radius: 5px;
    background-color: coral;
    color: white;
}
.styled-select:hover {
    border-color: #2c3e50;
}


/* =========================================================== */
/* ==================== USER NAME ============================ */
/* =========================================================== */
.name {
    color: darkblue;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border: 2px solid darkblue;
}

/* =========================================================== */
/* ====================== BUTTONS ============================ */
/* =========================================================== */
.styled-button {
    padding: 0.5em 1em;
    background-color: rgb(23, 133, 23);
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(8, 48, 8);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: auto;
}
.styled-button:hover {
    background-color: rgb(1, 187, 1);
}


/* =========================================================== */
/* ================== BUTTONS CLASS TABLE ==================== */
/* =========================================================== */
span.boton{
    position: relative;
    height: 32px;
    width: 32px;
    display: inline-block;
}

span.editar{
    background-image: url("botones.png");
    background-position:0;
}

span.borrar{
    background-image: url("botones.png");
    background-position-x:-32px;
}

span.guardar{
    background-image: url("botones.png");
    background-position-x:-64px;
}