<div class="question">
    <!--<p class="title_question">¿Qué significa HTML?</p>-->
    <p class="questions">ID:<span class="key"></span> <span class="statement"></span></p>
    <p class="questions">
        <span><input type="radio">a. </span><span class="option1"></span>
        <br>
        <span><input type="radio">b. </span><span class="option2"></span>
        <br>
        <span><input type="radio">c. </span><span class="option3"></span>
    </p>
    <!--<span class="difficulty"></span>
    <span class="category"></span>-->
    <!--<input class="dudosa" type="checkbox" name="dudosa" checked>
    <span class="">Dudosa</span>
    <br>
    <button class="borrar" type="button">Borrar</button>-->
</div>