<div class="question">
    <div class="left">
        <p>ID: <span class="question_id"></span></p>
        <hr>
        <div><span>Tiempo restante:<br>29:59</span></div>
    </div>

    <div class="middle">
        <p name="pstatement"><span class="statement" name="statement"></span></p>
        <p name="questions">
            <span><input type="radio">  <span class="option1"></span></span>
            <span><input type="radio">  <span class="option2"></span></span>
            <span><input type="radio">  <span class="option3"></span></span>
        </p>
        <!--<span class="difficulty"></span>
        <span class="category"></span>-->
        <!--<input class="dudosa" type="checkbox" name="dudosa" checked>
        <span class="">Dudosa</span>
        <br>
        <button class="borrar" type="button">Borrar</button>-->
    </div>

    <div class="right">
        <div value="0">1</div>
        <div value="1">2</div>
        <div value="2">3</div>
        <div value="3">4</div>
        <div value="4">5</div>
        <div value="5">6</div>
        <div value="6">7</div>
        <div value="7">8</div>
        <div value="8">9</div>
        <div value="9">10</div>
        <div value="10">11</div>
        <div value="11">12</div>
    </div>
</div>