/* ######################################################################## */
/* ############################## HEADER ################################### */
/* ######################################################################## */
header img[name="logo"] {
    height: 6em;
    width: 6em;
}
header img[name="userIcon"] {
    height: 4em;
    width: 4em;
}






/* ######################################################################## */
/* ########################### DROPDOWN ################################### */
/* ######################################################################## */
/* Estilos para el botón del menú */
.dropbtn {
    /*padding: 10px;*/
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Contenedor del menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Contenido del menú desplegable (oculto por defecto) */
.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: transparent;*/
    background-color: rgb(177, 238, 177);
    min-width: 160px;
    z-index: 1;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

/* Enlaces dentro del menú desplegable */
.dropdown-content a {
    color: black;
    padding: 12px 36px;
    text-decoration: none;
    display: block;
    transition: background-color 0.4s ease-in-out, transform 0.10s ease-in-out;
    transform: translateX(0px);

    border: 2px solid rgb(128, 236, 128);
    border-top-left-radius: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* Cambio de color al pasar el ratón por encima de las opciones */
.dropdown-content a:hover {
    background-color: #91b980;
    transform: translateX(10px);

    border:  2px solid #91b980;
}

/* Mostrar el menú desplegable cuando se pasa el ratón por encima del botón */
.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
