/* ######################################################################## */
/* ########################### ESTÉTICA ################################### */
/* ######################################################################## */
/* Fuentes de la web */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inconsolata&family=Kanit&family=Space+Grotesk&display=swap');
/** 
  * font-family: Agbalumo; -> Títulos
  * font-family: Inconsolata;
  * font-family: Kanit;
  * font-family: Space Grotesk; -> Footer
  */

body * {
  font-family: Agbalumo;
}
footer * {
  font-family: Space Grotesk;
}


/* ######################################################################## */
/* ############################# HEADER ################################### */
/* ######################################################################## */
header {
  background-color: #9dc58c;
  border-bottom: 1px lightgreen solid;
}
header a {
  text-decoration: none;
}

/* ######################################################################## */
/* ################################ NAV ################################### */
/* ######################################################################## */
body>nav {
  background-color: grey;
}
body>nav a {
  text-decoration: none;
}

/* ######################################################################## */
/* ############################### MAIN ################################### */
/* ######################################################################## */
main * {
  font-family: Space Grotesk;
}

/* ######################################################################## */
/* ############################# FOOTER ################################### */
/* ######################################################################## */
footer {
  background-color: #9dc58c;
}





/* ######################################################################## */
/* #################### Reglas para aplicar con JS ######################## */
/* ######################################################################## */
.hide {
  visibility: hidden;
}
.lblError {
  border: 1px solid red;
}
.none {
  display: none;
}
.btnSelected {
  background-color: #82af6e;
}
.btnDeselected {
  background-color: #b5e7a0; /* Este no sería necesario ya que podríamos eliminar classList -> btnSelected */
}
.deshabilitar {
  opacity: 0.5;
  pointer-events: none;
}
.inputError {
  color: darkred;
  font-size: small;
  font-weight: bold;
}
.true {
  color: green;
  font-size: x-large;
  font-weight: bold;
}
.false {
  color: red;
  font-size: medium;
  font-weight: bold;
}
.error {
  color: darkblue;
  font-size: x-large;
  font-weight: bold;
}


/* Estética de la web */ /* TODO */
/*body {
  background-color: #f7e6d8;
  font-family: Arial, sans-serif;
  color: #3b3b3b;
}*/