/* ESTÉTICA */

/* ######################################################################## */
/* ############################# LAYOUT ################################### */
/* ######################################################################## */

/* HEADER */
header {
  background-color: #9dc58c;
  border-bottom: 1px lightgreen solid;
}

header a {
  text-decoration: none;
}


/* ######################################################################## */
/* ####################### LANDING PAGE ################################### */
/* ######################################################################## */

/* Section 2º */
main div[name="landingpage"] section:nth-child(2) > article {
  border: 3px solid black;
  border-collapse: collapse;
}

main div[name="landingpage"] section:nth-child(2) > article {
  height: 200px;
  width: 200px;
}


/* ######################################################################## */
/* ############################# FOOTER ################################### */
/* ######################################################################## */
footer {
  background-color: #9dc58c;
}





/* Reglas para aplicar con JS */
.hide {
  visibility: hidden;
}
.lblError {
  border: 1px solid red;
}
.none {
  display: none;
}
.btnSelected {
  background-color: #82af6e;
}
.btnDeselected {
  background-color: #b5e7a0; /* Este no sería necesario ya que podríamos eliminar classList -> btnSelected */
}
.deshabilitar {
  opacity: 0.5;
  pointer-events: none;
}


/* Iconos */
.icon-account {
  height: 32px;
  width: 32px;
  display: inline-block;
  background-size: cover;
  background-image: url("../SOURCES/icons/accountCircle.svg");
}

/* Estética de la web */
body {
  background-color: #f7e6d8;
  font-family: Arial, sans-serif;
  color: #3b3b3b;
}


.form-container {
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size: 36px;
  color: #3b3b3b;
}

label {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

input,
textarea, 
select {
  border: none;
  border-radius: 5px;
  background-color: #f7e6d8;
  color: #3b3b3b;
  font-size: 16px;
  resize: none;
  transition: all 0.3s ease;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.topButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: none;
  /*background-color: #b5e7a0;*/
  /*color: #fff;*/
  font-size: 1.2rem;
  /*cursor: pointer;*/
  transition: transform 0.3s ease-in-out;
}


.inputError {
    color: darkred;
    font-size: small;
    font-weight: bold;
}



button[type="button"], button[type="submit"], input[type="submit"], .btn {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #b5e7a0;
  color: #3b3b3b;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="button"]:hover, button[type="submit"]:hover, input[type="submit"]:hover {
    background-color: #91c36c;
}

/* Domicilio */

#domicilio select {
  user-select: none;
}


