/* ######################################################################## */
/* ############################# LAYOUT ################################### */
/* ######################################################################## */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER - start */
header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header div:first-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 64%;
}
/* HEADER - end */

/* MAIN - start */
main {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
}
/* MAIN - end */

/* NAV - start */
nav p:first-child {
  text-align: center;
}
/* NAV - end */

/* FOOTER */
footer {
  display: flex;
  justify-content: space-around;
  padding-top: 1em;
}

/*header img[name="logo"] {
  height: 72px;
  width: 72px;
}
header > nav {
  display: flex;
}
header > nav > * {
  margin: 1em;
}

header nav img {
  height: 64px;
  width: 64px;
}
header img:hover {
  cursor: pointer;
}*/