h2 {
    margin-bottom: 20px;
}
label {
    margin-bottom: 5px;
}
input, 
select {
  display: block;
  width: 100%;
  padding: 10px;
}
#topButton-container>* {
    margin:  0 auto;
}
.inputError {
    margin-bottom: 0.8em;
}
#topButton-container {
    padding-bottom: 3em;
}
.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
}
#otros input[type="radio"] {
    width: auto;
    margin: 0 7% 0 0;
}
#grpRBSexo {
    margin: auto 0 auto 0;
}
#grpCBIntereses>div>* {
margin: 0 10px 0 10px;
}

#feedback {
    text-align: center;
    padding-top: 2em;
}