<div class="question">
    <!--<p class="title_question">¿Qué significa HTML?</p>-->
    <p class="questions">ID:<span class="key"></span> <span class="statement"></span></p>
    <p class="questions">
        a. <span class="option1"></span>
        <br>
        b. <span class="option2"></span>
        <br>
        c. <span class="option3"></span>
    </p>
    <span class="difficulty"></span>
    <span class="category"></span>
    <!--<input class="dudosa" type="checkbox" name="dudosa" checked>
    <span class="">Dudosa</span>
    <br>
    <button class="borrar" type="button">Borrar</button>-->
</div>