nav a {
    text-decoration: none;
    color: black;
}
/* Estilos para el botón del menú */
.dropbtn {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Contenedor del menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown > * {
    padding: 3em;
}

/* Contenido del menú desplegable (oculto por defecto) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0B5D1E;
    min-width: 2em;
    z-index: 1;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

/* Enlaces dentro del menú desplegable */
.dropdown-content a {
    color: black;
    background-color: #139A43;
    padding: 0.5em 1em 0.5em 1em;
    display: block;
    transition: background-color 0.4s ease-in-out, transform 0.10s ease-in-out;
    transform: translateX(0px);

    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    margin-top: 0.5em;
}

/* Cambio de color al pasar el ratón por encima de las opciones */
.dropdown-content a:hover {
    /*background-color: #91b980;*/
    /*background-color: #139A43;*/
    background-color: #0DAB76;
    transform: translateX(10px);
}

/* Mostrar el menú desplegable cuando se pasa el ratón por encima del botón */
.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
