/* =========================================================== */
/* ================= RESET DEFAULT STYLES ==================== */
/* =========================================================== */
* {
    margin: 0;
    padding: 0;
}

.btnAccept, .btnDeny {
    border: none;
    outline: none;
}